.calendar-container{
	box-sizing:border-box;
	font-family: Verdana,sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      not supported by any browser */
    border: 1px solid #d6d6d6;
    -moz-box-shadow:    3px 3px 2px -2px #d8d8d8;
    -webkit-box-shadow: 3px 3px 2px -2px #d8d8d8;
    box-shadow:         3px 3px 2px -2px #d8d8d8;

    min-height: 245px;
}
.calendar-container ul {
	list-style-type: none;
}
.month {
	box-sizing:border-box;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.month ul li.year-li {
    width: 35%;
    float: right;
}
.month ul li.month-li  {
    width: 55%;
    float: left;
}

.month .prev {
    float: left;
    margin-top: -1px;
    cursor:pointer;
}

.month .next {
    float: right;
    margin-top: -1px;
    cursor:pointer;
}

.month .prev:hover { 
    color: #000;
}

.month .next:hover { 
    color: #000;
}

.weekdays {
    margin: 0;
    padding: 3px 0 5px 0;
    text-transform: uppercase;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size:10px;
}

.days {
    padding: 10px 0;
    border-bottom: 2px solid #b10000;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 2px;
    font-size:10px;
    color: #777;
}

.days li span {
    display: block;
}

.days li .active {
    background-color: #d63131;
    color: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    margin: 0 auto;
    padding: 3px;
}

.days li .hovered {   
    color: #777;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    padding: 3px;
}

.days li .normal {
    padding: 5px;
    color: #777;
    cursor: default;
}

.days li .disabled {
    padding: 5px;
    background-color: #eaeaea;
    color: #c5c5c5;
    cursor: default;
}

.days li .hovered:hover { 
    background-color: #d6d6d6;
    border-radius: 50%;
    color: #000;
}
