.calendar-container{
	box-sizing:border-box;
	font-family: Verdana,sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      not supported by any browser */
}
.calendar-container ul {
	list-style-type: none;
}
.month {
	box-sizing:border-box;
    padding: 10px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    margin-top: -1px;
    cursor:pointer;
}

.month .next {
    float: right;
    margin-top: -1px;
    cursor:pointer;
}

.month .prev:hover { 
    color: yellow;
}

.month .next:hover { 
    color: yellow;
}

.weekdays {
    margin: 0;
    padding: 3px 0 5px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size:10px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:10px;
    color: #777;
    cursor: pointer;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.days li .hovered {
    padding: 5px;
    background: #ddd;
    color: #666 !important;
}

.days li .normal {
    padding: 5px;
    background: #eee;
    color: #777 !important;
}

.days li .disabled {
    padding: 5px;
    background: #eee;
    color: #ff0000 !important;
}
.days li .normal:hover { 
    color: #590c0c !important;
    font-size:11px;
}
