.fc-cal-date-li {
  box-sizing: border-box!important;
  float: left!important;
  list-style-type: none!important;
  width: 14.28571%!important;
  height: auto!important;
  padding: 2px 0 2px !important;
  margin: 0 !important;
  background-color: #fff !important;
}
.fc-cal-nav-inactive {
  opacity: 0;
  cursor: default !important;
}
.fc-cal-weekend-default {
  background-color: #F7F6FF!important;
}
.fc-cal-date-normal-default{
  cursor: pointer!important;
}
.fc-cal-date-normal-default:hover {
  color: #5F5F5F!important;
  background-color: #dcdcdc!important;
}
.fc-cal-date-selected-default,
.fc-cal-date-selected-default:hover {
  background-color: #5648D4!important;
  color: #F3F3F3!important;
}

.fc-cal-date-disabled-default {
  color: #cacaca!important;
}
